
body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container{
padding:20px;
background-color:#f2f2f2;
}